@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 255, 255, 255; /* Background stays white in dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb)); /* Always white background */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; /* Example of a clean, minimalist font */
}
button{
  width: 100%;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
